.form-side {
  display: block;
  height: 70vh;
  width: auto;
  padding-top: 50px;
  background-color: whitesmoke;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.exp-cvc-container {
  display: flex;
  margin: 30px 20px;
  justify-content: space-between;
}

.expiry-date-container {
  margin: 0;
  width: 50%;
}

.cvc-container {
  margin: 0;
  margin-right: 30px;
  width: 30%;
}

.expiry-date-container input {
  width: 30%;
  margin-right: 30 px;
}

input {
  height: 40px;
  width: 90%;
  margin-top: 5px;
}

input:nth-child(2) {
  margin-left: 20px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  padding: 10px;
}

label {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  font-family: "Space Grotesk";
  text-transform: uppercase;
}

.button--area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
}

.button--primary {
  margin: 0;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Montserrat Alternates";
  text-transform: capitalize;
}

/* VALIDADORES */

.info--hidden {
  height: 0 !important;
}

.info {
  transition: height 0.3s ease-in-out;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 15px;
  overflow: hidden;
  height: 20px;
  color: red;
  transform: translateY(-10px);
  margin: 0;
}

.input--error {
  border: 1px solid red !important;
}

.shake {
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    background: red;
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* MEDIA QUERIES DESKTOP */
@media only screen and (min-width: 768px) {
  .form-side {
    display: flex;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* .form-side {
  display: block;
  height: 70vh;
  width: auto;
  padding-top: 7%;
  background-color: whitesmoke;
  padding-left: 4%;
}

.cardholder-name-container,
.card-number-container,
.cvc-container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.exp-cvc-container {
  display: flex;
  width: 100%;
  margin-left: 20px;
}

.expiry-date-container {
  margin: 0;
  width: 55%;
}
.expiry-date-container input {
  width: 35%;
  margin-left: 10px;
}

.cvc-container {
  margin: 0;
  width: 35%;
}
.cvc-container input {
  width: 100%;
}

input {
  height: 40px;
  margin-left: 10px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  padding: 10px;
}

label {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  display: block;
  color: #333;
  margin-bottom: 10px;
  font-family: "Space Grotesk";
  text-transform: uppercase;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 90%;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Montserrat Alternates";
  text-transform: capitalize;
  margin: 6% 0;
  position: absolute;
  bottom: 0;
}

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
 */
