.form-side {
  display: block;
  height: 70vh;
  width: auto;
  padding-top: 50px;
  background-color: white;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.exp-cvv-container {
  display: flex;
  margin: 30px 20px;
  justify-content: space-between;
}

.cvv-container {
  margin: 0;
  margin-right: 30px;
  width: 30%;
}

.cvv-container input {
  margin: 0;
  margin-top: 16px;
  margin-right: 30px;
}

.expiry-date-container {
  margin: 0;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.expiry-date-container input {
  width: 60%;
  margin-right: 30px;
  margin-top: -20px;
}

#expiryDateMonth-input {
  flex-basis: 50%;
}

#expiryDateYear-input {
  flex-basis: 50%;
}

input {
  height: 40px;
  width: 90%;
  margin-top: 5px;
  padding: 0 10px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  padding: 10px;
}

label {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  font-family: "Space Grotesk";
  text-transform: uppercase;
}

.button--area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
}

.button--primary {
  margin: 0;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Montserrat Alternates";
  text-transform: capitalize;
  border-radius: 10px;
}

.error {
  border-color: tomato;
}

.thank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.thank img {
  width: 90px;
  margin-bottom: 40px;
}

.thank h2,
p {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 30px;
}

.thank h2 {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 2rem;
}

.thank p {
  color: hsl(279, 6%, 55%);
  font-size: 1.2rem;
}

.thank button {
  margin: top;
}

/* VALIDADORES */

.hidden {
  display: none !important;
}

.shake {
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    background: red;
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error-message {
  position: relative;
}

.error-message::before {
  content: "Wrong input";
  position: absolute;
  left: 0;
  bottom: -20px;
  color: red;
  font-weight: 700;
  font-size: 10px;
}

/* MEDIA QUERIES DESKTOP */
@media only screen and (min-width: 768px) {
  .form-side {
    position: absolute;
    top: 0;
    left: 500px;
    width: auto;
    height: 100%;
    padding-right: 530px;
    padding-left: 330px;
    padding-top: 220px;
  }

  .button--primary {
    width: 950%;
  }

  #expiryDateMonth-input {
    flex-basis: 40%;
  }
  #expiryDateYear-input {
    flex-basis: 40%;
  }

  .thank {
    position: absolute;
    top: -100px;
    width: auto;
    height: 100%;
    left: 1000px;
  }

  .thank button {
    width: 200px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* .form-side {
  display: block;
  height: 70vh;
  width: auto;
  padding-top: 7%;
  background-color: whitesmoke;
  padding-left: 4%;
}

.cardholder-name-container,
.card-number-container,
.cvv-container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
}

.exp-cvv-container {
  display: flex;
  width: 100%;
  margin-left: 20px;
}

.expiry-date-container {
  margin: 0;
  width: 55%;
}
.expiry-date-container input {
  width: 35%;
  margin-left: 10px;
}

.cvv-container {
  margin: 0;
  width: 35%;
}
.cvv-container input {
  width: 100%;
}

input {
  height: 40px;
  margin-left: 10px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  padding: 10px;
}

label {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  display: block;
  color: #333;
  margin-bottom: 10px;
  font-family: "Space Grotesk";
  text-transform: uppercase;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 90%;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Montserrat Alternates";
  text-transform: capitalize;
  margin: 6% 0;
  position: absolute;
  bottom: 0;
}

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
 */
